.FrostivusGameInfo
{
    width:90%;
    flow-children: down-wrap;
}
 
Label
{
    font-size: 18px;
    color: #999999;
    vertical-align: top;
}
.Header{
    padding-top: 10px;
    font-size: 24px;
    color: #ca2d36;
    font-weight: bold;
}

.ObjectiveImage{
    height: 300px;
    margin-bottom: 10px;
}

.Location{
    font-weight: bold;
    font-size: 20px;
}

.ListElement{
    flow-children: right;
    margin-top: 10px;
    vertical-align: center;
    margin-bottom: 10px;
}

.ListIconImage{
    width: 25px; 
    height: 25px;
    margin-right: 10px;
}

#Outro{
    margin-top: 20px;
    font-size: 30px;
    color:white;
    font-weight: bold;
    font-family: "Courier New";
}

#OutroImage{
    margin-top: 20px;
    height: 200px;
}