.TimePanel
{
    horizontal-align: middle;
    flow-children: down-wrap;
    background-image: url("file://{images}/custom_game/endscreen/roshan.png");
    background-size: 100%;
    width: 150px;
    height: 100px;
    padding-top: 23px;
}
Label{
    color: black;
    horizontal-align: middle;
    text-align: center;
    font-weight: bold;
    font-size: 19px;
}
.timer_alert{
    color: red;
}

.othercolor{
    color: white;
    
    text-shadow: 2px 2px red;
}

