.TimePanel
{
    horizontal-align: middle;
    flow-children: down-wrap;
    background-image: url("file://{images}/custom_game/timer.psd");
    background-repeat: no-repeat;
    width: 110px;
    height: 100px;

    padding-top: 20px;
    opacity: 1;


}
Label{
    text-align: center;
    color: red;
    horizontal-align: middle;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}
.timer_alert{
    color: red;
}

.othercolor{
	color: white;
}


.timer_over{
    ui-scale: 200%;
    opacity: 0.75;
}

